body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 250px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 4px solid #4CAF50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.profile h1 {
    margin: 10px 0 5px;
    font-size: 24px;
}

.about h2 {
    color: #333;
    margin-top: 20px;
}

.about ul {
    list-style-type: none;
    padding: 0;
}

.about ul li {
    background: #ddd;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}